.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-box {
    display: flex;
    justify-content: center;
}

.app-title {
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.footer1-text {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
}

.footer2-text {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    margin-top: 10px;
    text-align: center;
}

.footer3-text {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    margin-top: 10px;
    text-align: center;
}

a:link {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-decoration: none;
}

a:visited {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

a:hover {
    text-decoration: underline;
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

// .layer1 {
//     // position: absolute;
//     // width: 30%;
//     // margin: 0 35% 0 35%;
//     // border: 1px solid #e6e6e6;
//     // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
//     // height: 50px;
//     z-index: 1;
// }

// .layer2 {
//     position: absolute;
//     width: 30%;
//     margin: 0 35% 0 35%;
//     border: 1px solid #e6e6e6;
//     box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
//     height: 55px;
//     position: absolute;
//     z-index: 2;
// }

// .layer2 {
//     position: absolute;
//     width: 30%;
//     margin: 0 35% 0 35%;
//     border: 1px solid #e6e6e6;
//     box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
//     height: 55px;
//     position: absolute;
//     z-index: 3;
// }