<div class="app">
  <div class="title-box">
    <span class="app-title">
      {{ title }}
    </span>
  </div>

  <div class="layer1">
    <app-todo-list-table></app-todo-list-table> 
  </div>
  
  <div class="layer2"></div>
  <div class="layer3"></div>
    
  <div class="footer-box">
    <div class="footer1-text">
      Double-click to edit a todo
    </div>
    <div class="footer2-text">
      Created by 
      <a href="https://github.com/samccone"> Sam Saccone </a> 
      and 
      <a href="https://github.com/colineberhardt"> Colin Eberhardt </a>
      using 
      <a href="https://angular.io/"> Angular2 </a>
    </div>
    <div class="footer3-text">
      Part of <a href="https://todomvc.com/"> TodoMVC </a>
    </div>
  </div>
</div>

