<div class="content-table">
    <input class="add-new-task-input" 
      type="text" 
      placeholder = {{placeholderText}}
      id='addNewTaskInputId'
      (keyup.enter)="addNewTask($event)"/>
    <div class="tasks-table" *ngFor="let todoTask of todoTasks; let i=index">
        <div class="new-task-input-box" allowEdit = false>
            <div class="checkbox-box">
                <mat-checkbox 
                    class="custom-checkbox" 
                    (change)="checkTask(todoTask)">
                </mat-checkbox>
            </div>
            <div class="new-task-input" 
                id="{{'task_' + i}}"
                [attr.contenteditable]="todoTask.allowEdit"
                (dblclick)="onDoubleClick(i)"
                (keyup.enter)="editTask(i, 'task_'+i)"
                [ngClass]="{'strike-through': todoTask.isChecked, 'double-clicked': todoTask.allowEdit}">
                {{todoTask.name}}  
            </div>
             <button class="delete-task-button"
                (click)="deleteTask(i)"
                [ngClass]="{'hide': true}">
                <img class="delete-task-ico" src="../assets/icons/delete.svg" alt="image" alt="image" />
            </button>
        </div>
    </div>
    <div class="bottom-row" [ngClass]="{'hide': todoTasks.length == 0}">
        <span class="items-left-field">{{taskCounter}} items left</span>
        <button class="clear-completed-tasks-button" 
            (click)="clearCompleted()"
            [ngClass]="{'hide': doneTasksCounter == 0}"
        >Clear completed</button>
    </div>
  </div>